@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    color: #00ffe0 !important;
  }

  body {
    color: #00ffe0 !important;
    background: linear-gradient(135deg, #0f0c29 0%, #302b63 60%, #00d2ff 100%);
    background-attachment: fixed;
  }
}