@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    color: #00ffe0 !important;
  }

  body {
    color: #00ffe0 !important;
    background: linear-gradient(135deg, #1e1f4b 0%, #44355b 60%, #ffd700 100%);
    background-attachment: fixed;
  }
}